<strong>Pages</strong>
<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Show Usuarios", usuarios_path %></li>
  <li><%= link_to "Show Libros", books_path %></li>
  <li><%= link_to "Show Categorias", categories_path %></li>
</ul>